
body{
    margin: 0px;
    height: 93vh;
    width: 96vw;
    background-image: linear-gradient(45deg, lightblue,blue,blueviolet,pink);
}
#rod1, #rod2{
    width: 150px;
    height: auto;
    background-color: black;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
    color: white;
    position: fixed;
    left: 45%;
}
#rod2{
    bottom: 2px;
    background-color: rgb(253, 0, 0);
}
#rod1{
    top: 2px;
}
#ball{
    width: 30px;
    height: 30px;
    background-color: darkorange;
    border-radius: 50%;
    position: fixed;
    top: 20.5px;
    left: 49%;
}
p{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}